<nav class="navbar navbar-expand-lg navbar-static-top navbar-dark">
  <div class="container">
    <%= link_to ("<i class='fa fa-rocket'></i> " +'Project Management App').html_safe,
                root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if current_user && current_user.is_admin?%>
        <div class="navbar-nav mr-auto">
          <li>
            <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe, new_member_path,
                        class: 'navbar-item nav-link btn btn-primary' %>
          </li>
          <li>
            <%= link_to "<i class='fa fa-briefcase'></i> Change Plan".html_safe,
                        edit_plan_path, class: 'btn btn-primary navbar-item nav-link' %>
          </li>
        </div>
      <% end %>

      <div class="navbar-nav ml-auto navbar-right">
        <% if current_user %>
          <li class="nav-item" >
            <%= link_to 'Edit Profile', edit_user_registration_path, class:'nav-link' %>
          </li>

          <li class="nav-item navbar-text">
            <%=truncate(current_user.email, length: 25).html_safe %>
          </li>

          <li class="nav-item logout">
            <%= link_to 'Logout', destroy_user_session_path,
                        class: 'btn btn-xs btn-danger', method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </div>

    </div>
  </div>
</nav>