<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Saas Project', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
      <li>
        <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe, new_member_path,
                    class: 'navbar-link btn btn-primary' %>
      </li>
    <% end %>

    <% if current_user %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link " href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <li >
            <%= link_to 'Edit Profile', edit_user_registration_path, class:'nav-item nav-link ' %>
          </li>
        </div>

        <div class="navbar-nav ml-auto">
          <li class="nav-item">
            <%=truncate(current_user.email, length: 25).html_safe %>
          </li>

          <li class="nav-item ">
            <%= link_to 'Logout', destroy_user_session_path,
                        class: 'btn btn-xs btn-danger', method: :delete %>
          </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
      </li>
      </div>
      </div>
    <% end %>
  </div>
</nav>